#header{
    width:100%;
    padding-top:1.44%;
    position:fixed;
    top:0;
    z-index: 100;
}
#header>div{
    display:inline-block;
}
.index{
    width:7.53rem;
    position:relative;
}
.home{
    width:19.42%;
    height:auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -9.7%;
    margin-top: -9.7%
}
.name{
    width:13.6%;
    position:relative;
    margin-left:-2.5rem;
}
.nameContent{
    position:absolute;
    height:100%;
    left:26.5%;
    top:0;
    display:flex;
    align-items: center;
}
.arrow{
    width:1rem;
    height:0.5rem;
    background:url(../image/向下.png);
    background-size:100% 100%;
    margin-top:0.034rem;
    margin-left:0.2rem;
}
.indexBox{
    width:100%;
    height:100%;
    background-size:100% 100%;
}
.menu{
    width:13.67%;
    position:relative;
    margin-left:-2.5rem;
}
.menuContent{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    display:flex;
    align-items: center;
    justify-content:center;
}
.title{
    width:32.28rem;
    height:2.72rem;
    background:url(../image/顶部控件_中间.png) no-repeat;
    background-size:100% 100%;
    margin-left:-2.925rem;
    position: relative;
}
.title .titleTxt{
    width:16.47rem;
    height:1.53rem;
}
.title .logo{
    width:2.91rem;
    height:1.78rem;
    margin-right:0.5rem;
}
.title>.menuContent{
    align-items: flex-end;
}
.date,.time{
    width:12.4rem;
    height:2.906rem;
    margin-left:-2.925rem;
    position:relative;
}
.time{
    margin-left:-2.4rem;
}
.timePng{
    width:0.906rem;
    height:0.906rem;
    background:url(../image/时间.png);
    background-size:100% 100%;
    margin-top:0.034rem;
    margin-right:0.2rem;
}
.titleTxt{
    font-size:1.5rem;
}
#main{
    overflow: hidden;
}
.leftBox{
    float:left;
    margin-top:1.5rem;
    margin-left:1rem;
    font-size:1.06rem;
}
.leftTitle,.rightTitle{
    width: 8.75rem;
    height: 2.28rem;
    background: url('../image/对角.png') no-repeat;
    background-size:100% 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.rightTitle{
    background: url('../image/对角右.png') no-repeat;
    background-size:100% 100%;
}
.leftTitle>img{
    width:1.375rem;
    margin-right:0.2rem;
}
.leftNum{
    display: block;
    padding-left:1rem;
}
.leftNum>b{
    font-size:2.125rem;
    font-family: num;
    color:rgba(249,185,11,1);
}
.rightNum{
    display: block;
    text-align: right;
    padding-right:0.5rem;
}
.rightNum>b{
    font-size:2.125rem;
    font-family: num;
    color:rgba(249,185,11,1);
}
.amount{
    background: none;
}
.littleMap{
    margin-top:1.5rem;
}
.littleMap img{
    width:1.469rem;
    height:1.469rem;
}
.rightBox{
    float:right;
    margin-top:1.5rem;
    margin-right:1rem;
    font-size:1.06rem;
}
.numImg{
    width:1.34rem;
    height:1.28rem;
    margin-right:0.5rem;
}
.moneyImg{
    width:1.406rem;
    height:1.437rem;
    margin-right:0.5rem;
}
.moneyDetail{
    margin-top:2.25rem;
}
.itemBox{
    margin-top:0.5rem;
}
.moneyItem{
    margin-top:0.5rem;
    padding-right:0.8rem;
}
.range{
    font-size:0.78rem;
    text-align: right;
    margin-bottom:0.1rem;
}
.rangeColor{
    height:0.625rem;

    background:rgba(65,195,255,1);
}
.color2{
    background:rgba(55,211,230,1);
}
.color3{
    background:#37E68D;
}
.color4{
    background:#FCFE3E;
}
.color5{
    background:#FF8439;
}
.color6{
    background:#FF4C39;
}
.color7{
    background:#FF5277;
}
.color8{
    background:#EE1D51;
}